#app .navbar .logo{
    height:  25.63px;
    max-width: 149px;
    vertical-align: middle;
}
#app .navbar .site-name{
    display: none;
}
main.home{
    max-width: 1180px;    
}
main.home header.hero {
    margin: 5rem 0;
}

.home .feature{
    max-width: 20%;
}

main.home h1#main-title {
    color: #000000;
    letter-spacing: 10px;
}
main.home .hero .description{
     color: #333333;
    font-weight: 400;
    font-size: 22px;
    margin: 50px auto;
}

main.home .hero .action-button {
    background-color: #0060FF;
}
main.home .feature h2 {
    color: #333333;
    font-weight: 550;
    font-size: 24px;
}
main.home .feature p {
    color: #666666;
    font-size: 18px;
    font-weight: 400;
}


// a.nav-link.external {
//     background-color: #0060ff;
//     color: #fff;
//     padding: 4px 10px;
//     border-radius: 6px;
//     border: 3px solid #0060FF;
// }
// a.nav-link.external svg{
//         color: #fff;
// }

// a.nav-link.external:hover{
//      color: #fff;
//      opacity:0.9;
// }