// 颜色
$accentColor = #0255fe
// $textColor = #0255fe
// $borderColor = #0255fe
// $codeBgColor = #0255fe
// $arrowBgColor = #0255fe
// $badgeTipColor = #0255fe
// $badgeWarningColor = darken(#0255fe, 35%)
// $badgeErrorColor = #0255fe